Repository openshift-service-mesh/sail-operator, pull requests merged in 2024-05, with the labels that each got.

#27 Resolve merge conflicts also for bundle.Dockerfile
  ossm/merge_upstream.sh
Labels: size/XS, auto-merge, okay to merge

#30 Fix deployment annotation for related images
  bundle/manifests/servicemeshoperator3.clusterserviceversion.yaml
  ossm/values.yaml
Labels: auto-merge, okay to merge, size/S

#31 [OSSM-6569] Update images in CSV annotation to latest version
  ossm/merge_upstream.sh
Labels: okay to merge, size/S
